.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 0;
    align-items: center;

    img {
        max-width: 3rem;
        margin-right: 1rem
    }
    
    h1 {
        width: 100%;
    }
    
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        width: 100%;
        
        li {
            font-size: 1.5rem;
        }
    }
}